.paymentScreen {
    padding-top: 10vh;
    width: 100vw;
}

.paymentScreen a {
    color: black;
    text-decoration: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.paymentScreen h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
    width: 100vw;
}

.paymentScreen span {
    font-size: 1.2rem;
    text-align: center;
    width: 100vw;
}

.paymentScreen a span b {
    font-size: 1.2rem;
    text-align: center;
    width: 100vw;
    cursor: pointer;
    text-decoration: underline;    
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.property-details-container {
    max-height: 83vh;
    width: 40vw;
    max-width: 30vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(239, 239, 239);
    padding: 3rem 3rem 0.6rem 3rem;
}

.property-details-container .carrousel-payment-reserve {
    margin-left: 1.9rem;
}

.payment-details-container {
    max-height: 83vh;
    width: 40vw;
    max-width: 30vw;
    height: 83vh;
    border-radius: 2rem;
    background-color:  #222222;
    padding: 3rem;
}

.payment-details-container h6 {
    font-size: 1.5rem;
    color: white;
}

.payment-details-container p {
    font-size: 0.8rem;
    color: white;
    margin-bottom: 2rem;
}

@media (max-width: 1250px) {

    .payment-details-container p {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    
    .property-details-container, .payment-details-container {
        width: 100vw;
        max-width: 95vw;
        margin-right: 0.5rem;
    }
}