.map-property-detail {
    height: 100%;
    width: 50%;
    margin-top: 2rem;
}

.actions-btn-blue {
    background-color: #118AB2;
}

@media (max-width: 992px) {
    .map-property-detail {
        width: 100%;
    }
}