.prop-actions-container {
    position: sticky;
    z-index: 1;
    top: 120px;
    left: calc(100% - 25rem - 10rem);
    width: 25rem;
    height: 0;
}

.prop-actions-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.prop-actions-container div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions-btn-yellow {
    background-color: #ffd166;
    border: none;
    color: white;
    padding: 0.5rem;
    font-weight: 500;
}

.actions-btn-blue {
    background-color: #118AB2;
    color: white;
    border: none;
    padding: 0.5rem;
    font-weight: 500;
}

#minimum-requirements-wrapper {
    color: #222222; 
}

.prop-actions-container-wrapper a {
    color: white;
}

.prop-actions-container-wrapper a:hover {
    color: white;
}

.prop-actions-container a {
    text-align: center;
    color: none;
    text-decoration: none;
}

.disabled {
    cursor: default;
    background-color: rgb(239, 239, 239);
    color: grey;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

@media (max-width: 992px) {

    .prop-actions-container {
        position: static;
        width: 20rem;
        height: fit-content;
        margin-bottom: 3rem;
    }

}