#payment-form {
  height: 50vh;
}

#submit {
    background-color: #ffd166;
    border: none;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    padding: 10px;
    font-weight: 500;
    border-radius:  0.5rem;
}

#payment-message {
    color: red;
}