.messages-screen {
    height: 100vh;
    padding: 9vh 0 0 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
}

.list-of-messages-container {
    width: 26vw;
    background-color: rgba(34, 34, 34,1);
    padding: 2rem 2rem 11rem 2rem;
    box-shadow: 10px 0px 25px 0px rgba(0,0,0,0.42);
}

.messages-container {
    width: 74vw;
    background-color: white;
    padding: 2rem 2rem 11rem 2rem;
}

.person-list-container {
    height: 4rem;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 0px 25px 0px rgba(0,0,0,1);
}

.person-list-container:hover {
    background-color: #ffd166;
}

.link-person-list-container{
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.link-person-list-container:hover {
    color: black;
}

.person-list-container p{
    margin: 0;
}