.ghost-message-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 1rem auto;
}

.messages-section-container {
    display: flex;
    justify-content: space-between;
    height: 65vh;
    width: 80vw;
    margin: 2rem auto;
}

.list-of-messages-container {
    width: 24%;
    border-radius: 2rem;
    border: 1px solid  rgb(239, 239, 239);
    padding: 1rem;
}

.messages-container {
    width: 75%;
}

.person-list-container {
    height: 4rem;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.474);
    display: flex;
    align-items: center;
    padding: 10px;
}

.person-list-container:hover {
    border-radius: 0.5rem;
    background-color:  rgb(239, 239, 239);
}

.person-list-container p{
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .messages-section-container {
        width: 98vw;
        margin-top: 0;
    }

    .list-of-messages-container {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-of-messages-container {
        border-radius: 0.5rem;
    }
}