.homeCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.position-left,
.position-left img,
.position-rigth,
.position-rigth img {
    width: 400px;
}

.position-left {
    position: relative;
    height: 500px;
}

.position-left img {
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 7%;
}

.position-rigth {
    position: relative;
    height: 500px;
}

.position-rigth img {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 7%;
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.card-text h2 {
    font-size: 5rem;
    color: rgba(255, 209, 102, 1);
}

.card-text p {
    color: #636366;
}

@media only screen and (max-width: 992px) {
    .card-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .position-left,
    .position-left img,
    .position-rigth,
    .position-rigth img {
        display: none;
    }

    .homeCard {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}