.property-card-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;   
    gap: 0.5rem;
    padding: 1.5rem 1rem 3rem 1rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 0.8rem;
}

.property-card-link:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(239, 239, 239);
    border-radius: 0.8rem;
}

.cursor-default {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;   
    gap: 0.5rem;
    padding: 1.5rem 1rem 3rem 1rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 0.8rem;
    cursor: default;
}

.cursor-default:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(239, 239, 239);
    border-radius: 0.8rem;
}

.property-card-img {
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
    background-color: aqua;
}

.property-card-content {
    width: 90%;
}

.property-card-content .property-card_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.property-card_title h6, .property-card_title p {
    height: fit-content;
    padding: 0;
    margin: 0;
}

.property-card-content span {
    width: fit-content;
    font-size: 0.9rem;
    margin-right: 0.4rem;
}

@media (max-width: 992px) {
    .property-card-link {
        width: 20rem;
    }
}