#prequalification-container {
    padding: 1rem 10rem;
}

.prequalification-data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.prequalification-data-wrapper div {
    display: flex;
    gap: 1rem;
}

#prequalification-container button {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
    background-color: #ffd166;
    padding: 0.5rem 2rem;
    border: none
}