#prequalification-container {
    margin: 2rem auto;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.prequalification-data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin: 3rem 1rem;
}

.prequalification-data-wrapper div {
    display: flex;
    gap: 1rem;
}

.prequalification-data-wrapper button {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
    background-color: #ffd166;
    padding: 0.5rem 2rem;
    border: none;
    width: 8rem;
}

.prequalification-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 992px) {
    #prequalification-container {
        width: 100vw;
        margin: 1rem auto;
    }

    .prequalification-data-wrapper {
        align-items: center;
    }
}