.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
}

.logo-navbar {
    margin-top: 0.5rem;
    width: 160px;
}

.sandwich-navbar {
    margin-top: 0.5rem;
    width: 40px;
    cursor: pointer;
}

.close-navbar {
    width: 20px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
    margin: 0;
}

.side-navbar {
    -webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    padding: 3rem;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 35vw;
    height: 100vh;
    right: 0;
    box-shadow: -1000px 0px 200px 1000px rgb(0 0 0 / 30%);
}

.header-side-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

@media (max-width: 992px) {
    .side-navbar {
        width: 100vw;
    }

    .Navbar {
        padding: 0 1rem;
    }
}


@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}