.PropertiesScreen {
    display: flex;
    padding-top: 9vh;
}

/* FILTER CONTAINER */

.yellow-div {
    width: 100vw;
    height: 40px;
    background-color: #ffd166;
    position: fixed;
}

.search-filter-container {
    z-index: 1;
    position: fixed;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0 30px;
}

.search-filter-container img {
    height: 25px;
    cursor: pointer;
}

.search-filter-container > form > button {
    background-color: transparent;
    border: none;
}

.search-filter-container form {
    background-color: white;
    width: 50%;
    padding: 0.4rem;
    border-radius: 1rem;
    display: flex;
    border: 1px solid rgb(239, 239, 239);
}

.search-filter-container input {
    margin-left: 2.5%;
    width: 100%;
    border: none;
}

.search-filter-container input:focus {
    outline: none;
}

.btn-filter {
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
}

.btn-filter img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

/* MAP */

.map-container {
    z-index: 0;
    position: fixed;
    right: 0;
    height: 100%;
    width: 45vw;
    margin-top: 40px;
}

/* LIST */

.city-title-sort{
    margin-top: 40px;
    position: fixed;
    background-color: white;
    padding: 45px 0 15px 30px;
    width: 53vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-title-sort h2 {
    text-transform: uppercase;
}

.sort-div {
    display: flex;
    gap: 5px;
}

.property-list-container {
    margin-top: 140px;
}

/* FILTER PAGE */

.filter-page {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 70vw;
    max-height: 800px;
    height: 80vh;
    background-color: white;
    z-index: 2;
    border-radius: 1rem;
    box-shadow: -1000px 1000px 200px 1000px rgb(0 0 0 / 30%);
}

/* PAGINATION */

.pagination-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.pagination-ul {
    display: flex;
    gap: 5px;
}

.pagination-li {
    cursor: pointer;
    text-align: center;
    min-width: 2rem;
    list-style: none;
    padding: 5px 12px;
    border: 2px solid rgb(239, 239, 239);
}

.pagination-li:hover {
    background-color: #ffd166b4;
}

.disabled {
    color: white;
    cursor: none;
    background-color: rgb(239, 239, 239);
}

.disabled:hover {
    cursor: default;
    background-color: rgb(239, 239, 239);
}
