#footer-container {
    background-color: rgb(230, 230, 230);
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    gap: 4rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.name-developer {
    margin-top: 0.5rem;
    padding-bottom: 0;
}

.footer-img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-section-wrapper div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-section-wrapper div a {
    display: flex;
    align-items: center;
}

.contact-info-wrapper {
    display: flex;
    gap: 1rem;
}

#copyright {
    position: absolute;
    bottom: 2%;
    right: 45vw;
}

@media (max-width:992px) {
    #copyright {
    right: 30vw;
    }    
}