.bills-section {
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80vw;
    min-height: 65vh;
}

.bills-form-container {
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.bills-form-container button {
    width: 45vw;
    background-color: #ffd166;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.bills-form-container button:hover {
    background-color: #ffc337;
}

.bills-btns-container .bills-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.bills-btns-container .bills-btns button {
    width: 15rem;
    height: 3rem;
}

.bills-btns-container .bills-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 3rem;
    background-color:  #ffd166;
    border-radius: 0.5rem;
    width: 15rem;
    font-weight: 500;
}

.working {
    background-color: #222222;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.working:hover {
    background-color: #333333;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.disabledBill {
    cursor: default;
    background-color: rgb(239, 239, 239);
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.each-bill {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    padding: 1rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1rem;
}

.each-bill p, .each-bill h5 {
    margin: 0;
    padding: 0;
}

.each-bill-info {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.each-bill-info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.each-bill-info h5, p, time {
    font-size: 1rem;
}

.each-bill-to-pay {
    position: relative;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65vw;
    padding: 1rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1rem;
}

.status {
    position: absolute;
    right: 5%;
    width: 10rem;
    font-weight: 500;
    padding: 0.3rem;  
    border-radius: 0.5rem;
}

.status p {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
}

.green {
    background-color: rgba(30, 128, 30, 0.281);
    color: rgb(42, 114, 42);
}

.red {
    background-color: rgba(251, 100, 100, 0.358);
    color: rgb(255, 0, 0);
}

.actions-div img {
    cursor: pointer;
}

@media (max-width: 992px) {

    .bills-container, .bills-payment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bills-btns-container .bills-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }

    .bills-form-container button {
        width: 80vw;
    }

    .each-bill {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        padding: 2rem;
    }

    .each-bill-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.2rem;
        padding-bottom: 1.5rem;
    }

    .status {
        position: absolute;
        right: 5%;
        bottom: 3%;
    }

    .actions-div form input {
        position: absolute;
        left: 15%;
        bottom: 5%;
    }

    .each-bill-to-pay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}