.property-search {
    width: 100vw;
    height: 85vh;
    background-image: url('../../assets/images/BannerHome.jpg');
    background-size: cover;
    background-position: 50%;
    margin-top: -9vh;
    margin-bottom: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-search-property {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 50vw;
    padding: 0.8rem;
    border-radius: 1rem;
    display: flex;
}

.form-search-property mapbox-address-autofill {
    width: 95%;
}

.form-search-property input {
    margin-left: 2.5%;
    border: none;
    width: 90%;
    background-color: transparent;
}

.form-search-property input:focus {
    outline: none;
}

.search-btn {
    background-color: transparent;
    border: none;
}

.form-search-property img {
    height: 25px;
    cursor: pointer;
}

/* LAST PROPERTIES */

.last-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

.home-properties-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    color: #636366;
}

.home-property-container {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.home-property-container img {
    width: 340px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.home-property-container h4{
    font-size: 1.3rem;
}

.home-property-container h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.home-property-detail {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color:rgb(105, 103, 103);
}

/* EASY TEXT WITH WORDS SCROLLER */

.rentup-advantages {
    padding: 2rem;
    background-color: rgb(255, 209, 102);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroller {
    height: 2.5em;
    line-height: 2.7em;
    position: relative;
    overflow: hidden;
    width: 15rem;
}

.scroller > span {
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    margin-left: 1rem;
}

/* RENTUP SERVICES */

.rentup-services {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

/* RENTUP REVIEWS */

.rentup-reviews {
    padding: 2rem 0;
    background-color: rgb(30,30,30);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.reviews-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review-detail {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 0 3rem;
}

.review-text p {
    color: rgba(255, 255, 255, 0.733)
}

.Star-wraper {
    display: flex;
    gap: 0.3rem;
}

.Star-wraper img {
    width: 1.5rem;
}

/* MEDIA QUERIES & KEY FRAMES */

@media (max-width: 992px) {
    .form-search-property {
        width: 90vw;
    }

    .form-search-property input {
        margin-left: 5%;
        width: 100%;
        border: none;
    }

    .reviews-container {
        display: flex;
        flex-direction: column;
    }
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

    75% {
        top: -3.6em;
    }
}