.notifications-screen {
    color: #222222;
    margin: 0 auto;
    max-width: 992px;
    padding-top: 11vh;
    min-height: 100vh;
}

.notifications-screen h2 {
    padding-left: 2rem;
}

#notification-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    border-bottom: 1px solid rgb(239, 239, 239);
}

#notification-icon-wrapper:hover {
    background-color: rgba(255, 209, 102, 0.5);
}

.notification-messages-container {
    margin-top: 2rem;
    padding: 0;
    max-width: 992px;
}

#notification-img-wrapper {
    width: auto;
}

.notification-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.notification-messages-container a{
    color: #222222;
    text-decoration: none;
}

.msg-container {
    margin: 0 0;
    padding: 1rem;
}

.msg-container p {
    margin: 0.5rem;
}

.msg-p {
    font-weight: 500;
}

.msg-time {
    font-size: 0.8rem;
}

@media (max-width: 992px) {
    .notifications-screen {
        width: 100vw;
        min-height: 100vh;
        padding-top: 12vh;
    }

    .notification-messages-container {
        margin-top: 1rem;
        width: 100vw;
    }
}