.my-rents-container {
   padding: 1rem 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.my-rent-wrapper {
    position: relative;
    width: fit-content;
}

.tag-status {
    position: absolute;
    bottom: 3%;
    left: 9.5%;
}

.green-tag {
    background-color: rgba(30, 128, 30, 0.281);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
    color: rgb(42, 114, 42);
}

.yellow-tag {
    background-color: rgba(255, 209, 102, 0.281);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
    color: #b19043;
}

.menu-icon-div {
    position: absolute;
    bottom: 3%;
    right: 9.5%;
}

.menu-icon-img {
    position: relative;
    cursor: pointer;
    width: 1.6rem;
}

.closed {
    display: none;
}

.opened {
    position: absolute;
    margin-top: 0.2rem;
}

.menu-option {
    text-align: left;
    width: 9rem;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem 0.6rem;
}

.menu-option:hover {
    background-color: rgb(239, 239, 239);
}
