/* HIDE SCROLLBAR */

.messages-scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.messages-scroll-container::-webkit-scrollbar { 
    display: none;
}

/* MESSAGES */

.messages-scroll-container {
    display: flex;
    flex-direction: column-reverse;
    height: 55vh;
    overflow-y: scroll;
}

.each-message {
    margin: 5px 0;
    padding: 7px;
    width: 48%;
    border-radius: 0.5rem;
}

.text-content {
    font-size: 0.9rem;
}

.timestamp {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 0.5rem;
}

.timestamp span{
    font-size: 0.7rem;
}

.mine {
    background-color: rgb(255, 209, 102, 0.7);
    margin-left: 52%;
}

.theirs {
    background-color: rgb(17, 138, 178, 0.5);
}

/* FORM */

.messages-form {
    width: 61vw;
    position: fixed;
    bottom: 10%;
    display: flex;
    justify-content: center;
}

.messages-form textarea {
    width: 90%;
    border: none;
    background-color: rgb(239, 239, 239, 0.8);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
}

.messages-form button {
    font-weight: 700;
    border: none;
    background-color: rgb(239, 239, 239, 0.8);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-left: 2px solid rgb(219, 219, 219);
    padding: 1rem;
}